* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Yu Gothic UI Semilight";
}

div.pageContainer{
    display: flex;
    justify-content: space-between;
}

section.header {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-color: forestgreen;
    border-radius: 10px;
    padding: 10px 20px 30px 10px;
}

button.playAgain {
    border-width: 7px;
    border-color: forestgreen;
    border-style: wave;
    border-radius: 5px;
    width: 250px;
    height: 55px;
    margin-top: 7px;
    font-family: "Arial";
    font-size: x-large;
    font-weight: bold;
    color: forestgreen;
    margin-left: 10px;
}

h1 {
    text-align: center;
    font-size: xxx-large;
    display: inline-block;
    margin: 0;
}

span.hai {
    color: forestgreen;
}

span.caro {
    color: #0096FF;
}

span.game {
    color: #EE4B2B;
}

div.point {
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
    display: flex;
    margin: 20px auto;
}

span.pointElement {
    margin-left: 5px;
    margin-right: 10px;
}

span.pointFence {
    color: forestgreen;
    padding-top: 2px;
}

div.gameContainer {
    margin: auto;
    margin-top: 20px;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    width: fit-content;
    position: relative;
}

.gameContainer::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(gameBackground.jpg);
    width: 100%;
    height: 100%;
    z-index: -100;
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    filter: grayscale(100%);
}

div.gameElement {
    border-color: forestgreen;
    border-style: solid;
    border-width: 1px;
    width: 45px;
    height: 45px;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}

div.gameElement:hover {
    background-color: greenyellow;
}

div.lineContainer {
    display: flex;
    height: 45px;
    width: fit-content;
}