* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Yu Gothic UI Semilight";
}

section.header{
    text-align: center;
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: auto;
}

button.playAgain{
    border-width: 7px;
    border-color: darkgreen;
    border-style: wave;
    border-radius: 5px;
    width: 150px;
    height: 55px;
    margin-top: 7px;
    font-family: "Yu Gothic UI Semilight";
    font-size: x-large;
}

h1 {
    text-align: center;
    font-size: xxx-large;
    display: inline-block;
    margin: 0;
}

span.hai {
    color: darkgreen;
}

span.caro {
    color: #EE4B2B;
}

span.game {
    color: #0096FF;
}

div.gameContainer {
    margin: auto;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    width: fit-content;
    position: relative;
}

.gameContainer::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(gameBackground.jpg);
    width: 100%;
    height: 100%;
    z-index: -100;
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    filter: grayscale(100%);
}

div.gameElement {
    border-color: green;
    border-style: solid;
    border-width: 1px;
    width: 45px;
    height: 45px;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}

div.lineContainer {
    display: flex;
    height: 45px;
    width: fit-content;
}